body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
}

.pontuacao {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.area-jogo {
    position: relative;
    width: 600px;
    height: 600px;
    background: url("/img/grama.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid lime;
    overflow: hidden;
}

.parte {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0a0;
    border: 1px solid #000;
}

.cabeca {
    background-image: url('/img/cobra.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.comida {
    background-image: url('/img/maça.png');
    background-size: cover;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
}

.obstaculo {
    background-color: green;
}


.game-over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    display: none;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: lime;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00ff00cc;
}